requests==2.32.2
django==5.0.14
flask==2.2.5
pillow==10.3.0
pyyaml==4.2b1
idna>=3.7 # not directly required, pinned by Snyk to avoid a vulnerability
urllib3>=1.26.19 # not directly required, pinned by Snyk to avoid a vulnerability
werkzeug>=3.0.6 # not directly required, pinned by Snyk to avoid a vulnerability
